<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row" *ngIf="!user">
      <div class="chat-box-footer">
      <div class="input-group">
        <form action= "/newUsers" method ="POST">
           <input type="text" class="form-control" id="user" name="name"
              placeholder="Enter Name" [(ngModel)]="userInput" />
              <input type="text" class="form-control" id="user" name="password"
              placeholder="Enter Password" />
              <input type="submit">
        </form>
    </div>
  </div>
  </div>
    <div class="row" *ngIf="user">
      <div class="chat-box-footer">
      <input type="text" class="form-control" id="chat" name="chat" placeholder="Enter Message"
              [(ngModel)]="chatMessage" (keyup.enter)="sendMessage()" (keydown)="startTyping()" />
    </div>
  
</div>
</div>
</nav>
